@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #f0f2f5;
    color: #333;
}

header {
    padding: 1.5rem;
    background-color: #f5f5f5;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#user-display {
    font-weight: 600;
    color: blue;
}
#data-container {
    margin-top: 10px;
    max-width: 1200px;
    display: flex;
    flex-flow: wrap row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
#line {
    width: 500px;
    height: 250px;
}
#area {
    width: 500px;
    height: 250px;
}